*{
    margin: 0;
    padding: 0;
}
    body{
        background-color: rgba(0, 0, 0, 0.884);
    }
#conteiner{
    display: grid;
    grid-template-rows: 150px auto auto ;
}
#header{
    background-color: rgba(0, 0, 0, 0.411);
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
}
#logo{
    margin-left: 15px;
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 5px;
}
#header>nav, ul{
    display: flex;
    grid-column: 3/4;
}

#header>nav,ul>li+li{
margin-left: 30px;
}

#header>nav>ul> li, a{
    list-style: none;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
#header>nav>ul>li>a:hover{
    transition: .1s;
    color:rgba(255, 255, 255, 0.719) ;
}

#main{
    margin-top: 150px;
}
#titulo{

    margin-top: 15px;
}
#titulo>h1{
    text-align: center;
    font-family: 'Vollkorn', serif;
    color: aliceblue;
    letter-spacing: 15px;
}


.col-4{
    padding: 10px;
    margin-top: 30px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    column-gap: 10px;
    row-gap: 10px;
}

.col-4>figure{
    background-color: rgba(53, 52, 52, 0.267);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.192);
}
figcaption{
    text-align: center;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.89);
    font-size: 1.2em;
    font-weight: 400;
    font-family: monospace;
    
}

.row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin: 50px 0 50px 0;
}
/* cor de fundo seçao 1 */
  .col-4 {
    background-color: rgba(17, 17, 17, 0.712);
  }

 .god{
     text-align: center;
     color: aliceblue;
     font-size: 1.9em;
     letter-spacing: 20px;
 }
 /* secão 3 */

 .row-3{
    padding: 10px;
    margin-top: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    column-gap: 10px;
    row-gap: 10px;
 }
 .row-3{
    background-color: rgba(17, 17, 17, 0.712);
 }
 
 /* imagem 700px */

 .row-3-god{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin: 50px 0 50px 0;
 }

 [data-anime]{
     opacity: 1;
     transition: .3s;
 }

 [data-anime="left"]{
     transform: translate3d(-50,0,0);
 }

 [data-anime="right"]{
    transform: translate3d(50,0,0);
}

[data-anime].animote{
    opacity: 1;
    transform:  translate3d(0px, 0px, 0px);
}
 